.oldPrice {
  text-decoration: line-through;
  color: grey;
  font-size: medium;
  background-color: white;
  padding-top: 7.5px;
}

.addToCart {
  width: 320px;
  outline: none;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  background-color: rgba(239, 166, 147, 255);
  margin-left: -18px;
  margin-right: -10px;
  border-radius: inherit;
  border: 2px solid white;
  color: white;
}

.addToCart:hover {
  background-color: rgba(168, 113, 99, 255);
}

.modal {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 99;
  background-color: white;
  text-align: center;
  display: flex;
}

.delete {
  position: absolute;
  top: 5px;
  right: 35px;
  overflow: visible;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(139, 16, 16);
  border: none;
}

.img {
  height: 284px;
}

.edit {
  position: absolute;
  top: 5px;
  left: 35px;
  overflow: visible;
  z-index: 1;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(44, 95, 189);
  border: none;
}

.likeAndBuy {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.likeAndBuy svg {
  font-size: 30px;
  background-color: white;
  cursor: pointer;
  fill: rgb(44, 95, 189);
}

.likeAndBuy svg:hover {
  scale: 1.2;
  fill: black;
  transition: 0.2s;
}

.likeAndBuy button {
  border: none;
  outline: none;
  background-color: white;
}

.liked {
  fill: red !important;
}

.errorMessage {
  padding: 5px;
  border-radius: 7.5px;
}

.window {
  width: 600px;
  border: 1px solid #333;
  border-radius: 10px;
  margin-top: 19%;
  position: relative;
  margin-left: 33%;
  height: 150px;
}

.window h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.window button {
  width: 75px;
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
}
