.container {
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  border-top: 1px solid white;
  background-color: blanchedalmond;
  color: #333;
  padding-bottom: 30px;
  padding-top: 20px;
}

.container div,
.container h1,
.container select,
.container label {
  background-color: inherit;
  color: #333;
}

.container select {
  width: 40px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
}

.container option {
  background-color: inherit;
}

.wraper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
}

.container label {
  margin-right: 20px;
  font-size: 22px;
}

.container input {
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: white;
  color: #333;
  padding-left: 15px;
  font-size: 15px;
  outline: none;
}

.product input {
  width: 180px;
}

.reviewDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewDiv input {
  width: 450px;
}

.reviewDiv textarea {
  outline: none;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  color: #333;
  font-size: 15px;
}

.score {
  text-align: right;
}
.score select {
  width: 40px;
  height: 40px;
  font-size: 17.5px;
}

.container button {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(239, 166, 147, 255);
  color: white;
}

.errorMessage {
  background-color: inherit;
  color: red;
  font-size: 17.5px;
  font-weight: 700;
}

@media only screen and (max-width: 760px) {
  .container {
    width: 100%;
    height: 430px;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .wraper {
    width: 100%;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-right: 0;
  }
  .wraper div {
    margin-bottom: 25px;
  }

  .reviewDiv textarea {
    width: 300px;
    height: 90px;
  }
  .container label {
    font-size: 15px;
  }

  .container input {
    height: 40px;
  }
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  .product input {
    width: 60%;
  }

  .product label {
    white-space: nowrap;
  }

  .reviewDiv {
    width: 100%;
    justify-content: space-between;
  }

  .reviewDiv textarea {
    width: 60%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1526px) {
  .container {
    padding-left: 20%;
    padding-right: 20%;
    height: 430px;
    justify-content: center;
    align-items: center;
  }
  .wraper {
    width: 100%;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-right: 0;
  }
  .wraper div {
    margin-bottom: 25px;
  }

  .reviewDiv textarea {
    width: 70%;
    height: 90px;
    margin-bottom: 15px;
  }
  .container label {
    font-size: 15px;
  }

  .reviewDiv {
    width: 100%;
    justify-content: space-between;
  }

  .container input {
    height: 40px;
  }

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }

  .product input {
    width: 70%;
  }

  .container label {
    font-size: 18px;
  }

  .container h1 {
    margin-bottom: 20px;
  }

  .wraper div {
    margin-bottom: 10px;
  }
}
