.nav {
  display: flex;
  flex-direction: row;
  height: 110px;
  background-color: rgba(239, 166, 147, 255);
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.nav img {
  margin-top: 7px;
  border: none;
}

.nav span {
  background-color: inherit;
  font-size: 25px;
  font-weight: 700;
}

.subDiv {
  display: flex;
  justify-content: space-between;
  width: 200px;
  background-color: inherit;
}

.link {
  background-color: inherit;
}

.btn {
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.slide {
  background-color: rgb(44, 95, 189);
  height: 35px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
}

.slide p {
  background-color: inherit;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.directions {
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.directions span {
  background-color: white;
  color: gray;
  font-size: 25px;
  border: 1px solid rgb(44, 95, 189);
  padding-right: 50px;
  padding-left: 50px;
}

.directions span:hover {
  background-color: rgb(44, 95, 189);
  color: white;
  transition: 0.35s;
}
