.title {
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 60px;
  font-size: 40px;
  color: white;
}

.subTitle {
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  font-size: 65px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
}

.imgDesc {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px 0px 100px;
  margin-bottom: 150px;
}

.imgDesc img {
  margin-left: -100px;
  z-index: 0;
}

.imgTwo {
  margin-left: 0px !important;
  z-index: 0;
}

.imgDesc p {
  background-color: white;
  color: #333;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.imgDesc div {
  background-color: white;
  color: #333;
  width: 60%;
  padding: 55px 55px;
  z-index: 1;
  border-radius: 20px;
}

.imgDesc li {
  background-color: white;
  font-size: 20px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  padding-bottom: 10px;
}

.regular {
  font-size: 25px;
  color: #333;
  background-color: inherit;
  margin-bottom: 20px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-bottom: 20px;
}

.imgDescTwo {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 150px;
  padding-right: 100px;
}

.imgDescTwo img {
  z-index: 0;
  margin-right: -100px;
  margin-left: 100px;
}
.imgDescTwo div {
  background-color: white;
  z-index: 1;
  width: 60%;
  padding: 55px 55px;
  margin-right: 100px;
  border-radius: 20px;
}

@media only screen and (max-width: 1676px) {
  .subTitle {
    font-size: 25px;
    padding: 15px 20px;
  }
  .regular {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
  }

  .imgDesc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgDescTwo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgDescTwo img {
    width: 100%;
    margin-right: 0px;
  }
  .imgDescTwo div {
    width: 100%;
    margin-bottom: 20px;
    margin-right: -100px;
    margin-top: 20px;
  }
  .imgDesc img {
    width: 100%;
    margin-left: 0px;
  }
  .imgDesc div {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
  }

  .title {
    font-size: 25px;
    padding: 15px 20px;
    margin-left: 0px;
  }
}
