.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  position: relative;
  flex-flow: wrap;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  color: white;
}

.title {
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-top: 50px;
  font-size: 50px;
}

.pages {
  background-color: white !important;
}
.productsShown {
  margin-bottom: 30px;
  color: #333;
  font-size: 17.5px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.filterWraper {
  display: flex;
  justify-content: space-around;
  margin-top: 7.5px;
  font-size: 25px;
  border-bottom: 1px solid #333;
  padding-bottom: 7.5px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.filter {
  color: #333;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter select {
  height: 22.5px;
  color: #333;
  font-size: 17.5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-style: italic;
  width: 200px;
  margin-top: 4px;
}

@media only screen and (min-width: 536px) and (max-width: 760px) {
  .filter label,
  .sortBy label,
  .sortBy select,
  .filter select {
    font-size: 17.5px;
  }

  .filter select {
    font-size: 17.5px;
    margin-top: 0px;
  }

  .filter {
    width: 35%;
  }

  .filterWraper {
    width: 100%;
  }
}

@media only screen and (max-width: 535px) {
  .filterWraper {
    flex-direction: column;
    align-items: center;
  }
  .filter {
    width: 80%;
    justify-content: space-between;
  }
  .filter select {
    width: 50%;
  }
}
