.title {
  text-align: center;
  font-size: 75px;
  margin-top: 100px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  background-color: rgb(236, 198, 188);
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.bestsellerContainer {
  width: 100%;
  background-color: rgb(236, 198, 188);
}

.bsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 5%;
  row-gap: 65px;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: rgb(236, 198, 188);
}

@media only screen and (max-width: 760px) {
  .title {
    font-size: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1520px) {
  .bsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
