.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px white;
  margin-bottom: 100px;
}

.input {
  margin-bottom: 30px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  border: 1px solid white;
}

.outline {
  border: 1px solid black;
}

.title {
  color: white;
  margin-bottom: 50px;
  font-size: 40px;
  border: 1px solid rgb(44, 95, 189);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.btn {
  background: rgb(44, 95, 189);
  width: 20%;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  height: 40px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 17px;
}

.btn:hover {
  background-color: rgb(20, 45, 92);
}

.input::placeholder {
  color: rgb(255, 255, 255);
}

.warning {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.googleBtn {
  width: 20%;
  background-color: white;
  color: #333;

  border: white;
  margin-top: 20px;
  border-radius: 15px;
  height: 40px;
  cursor: pointer;
}

.googleBtn:hover {
  background: rgb(44, 95, 189);
  color: white;
}

@media only screen and (max-width: 760px) {
  .form {
    width: 70%;
  }

  .btn {
    width: 100px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1520px) {
  .form {
    width: 30%;
    min-width: 400px;
  }
  .btn,
  .googleBtn {
    width: 100px;
  }
}
