.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  background-color: white;
  padding-bottom: 40px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.container h1 {
  color: #333;
  font-size: 50px;
  background-color: inherit;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: inherit;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  height: 250px;
}

.icon img,
.icon h3 {
  background-color: inherit;
  color: #333;
}
