.wraper {
  display: flex;
  width: 750px;
  justify-content: left;
  height: 150px;
  background-color: blanchedalmond;
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative;
  border: 1px solid grey;
  box-shadow: 0px 0px 5px rgb(92, 28, 47), 8px 5px 10px rgb(92, 28, 28),
    7px 4px 11px rgb(92, 28, 28);
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.wraper img {
  border-radius: 20px;
  background-color: inherit;
  padding: 10px;
}

.changeQty {
  display: flex;
  margin: 0 auto;
  background-color: inherit;
  margin-left: 0px;
  margin-top: 5px;
  font-size: 25px;
  width: 155px;
  justify-content: space-between;
}

.rightDiv div,
.rightDiv h3 {
  background-color: inherit;
  color: grey;
}

.rightDiv {
  margin-left: 50px;
  background-color: inherit;
}

.title {
  font-size: 20px;
  background-color: inherit;
  color: grey;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.changeQty button {
  width: 50px;
  height: 40px;
  border-radius: 7.5px;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.changeQty div {
  width: 45px;
  text-align: center;
  background-color: white;
  border-radius: 7.5px;
  height: 40px;
  border: 0.5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up {
  background-color: rgb(5, 100, 5);
}
.down {
  background-color: rgb(240, 0, 0);
}

.price {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: inherit;
  font-size: 22px;
  color: black;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  font-weight: 700;
}

.remove {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: brown;
}
