.nav {
  display: flex;
  flex-direction: row;
  height: 110px;
  background-color: rgba(239, 166, 147, 255);
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  width: 100%;
}

.nav img {
  margin-top: 7px;
  border: none;
  margin-left: 7.5%;
  z-index: 0;
}

.nav span {
  background-color: inherit;
  font-size: 25px;
  font-weight: 700;
}

.subDiv {
  display: flex;
  justify-content: right;
  width: 300px;
  background-color: inherit;
  align-items: center;
  margin-right: 15px;
}

.link {
  background-color: inherit;
}

.btn {
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn span {
  font-size: 20px;
  white-space: nowrap;
}

.btn span:hover {
  font-size: 20px;
  color: rgb(44, 95, 189);
  transition: 0.4s;
}

.slide {
  background-color: rgb(44, 95, 189);
  height: 35px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
}

.slide p {
  background-color: inherit;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.directions {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  outline: none;
  padding-right: 5%;
  padding-left: 5%;
}
.directions a {
  width: 17.5%;
  text-align: center;
}

.directions div {
  background-color: white;
  color: gray;
  font-size: 25px;
  border: none;
  padding-right: 25px;
  padding-left: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(44, 95, 189);
  width: 100%;
}

.directions div:hover {
  background-color: rgb(44, 95, 189);
  color: white;
  transition: 0.35s;
}

.active {
  background-color: rgb(44, 95, 189) !important;
  color: white !important;
}

.fbInsta {
  position: absolute;
  background-color: inherit;
  display: flex;
  right: 50px;
  width: 80px;
  justify-content: space-around;
}

.fbInsta img {
  border-radius: 19px;
  border: 0.5px solid rgb(182, 178, 170);
}

.subDiv svg {
  font-size: 30px;
  background-color: inherit;
  cursor: pointer;
  fill: white;
  margin-right: 15px;
}

.likeAndBuy {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.subDiv svg:hover {
  scale: 1.2;
  fill: black;
  transition: 0.2s;
  fill: rgb(44, 95, 189);
}

.likeAndBuy div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: inherit;
}

.searchDiv {
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
}

.searchDiv input {
  height: 40px;
  width: 550px;
  outline: none;
  border: 1px solid #333;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 17.5px;
  padding-left: 50px;
  background-color: blanchedalmond;
  color: #333;
}

.searchBar svg {
  position: absolute;

  top: 10px;
  left: 5%;
  fill: #333;
  background-color: blanchedalmond;
}

.searchBar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: blanchedalmond;
}

.close {
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 50px;
}

.dropDown {
  position: absolute;
  width: 30%;
  height: 102px;
  background-color: white;
  border: 0.5px solid #333;
  color: #333;
  display: flex;
  z-index: 1;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
}

.dropDown h2 {
  font-size: 20px;
}

.dropDown img {
  margin-right: 30px;
}

.dropDown:hover {
  background-color: darkblue;
  cursor: pointer;
}

.nameCategory {
  background-color: inherit !important;
  text-align: left;
  margin-top: 20px;
}

.nameCategory p,
.nameCategory p {
  background-color: inherit;
  margin-bottom: 10px;
  font-size: 17.5px;
}

@media only screen and (max-width: 760px) {
  .directions {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .directions a {
    width: 120%;
  }
  .directions div {
    border-right: none;
  }

  .nav img {
    width: 200px;
    margin-left: 0%;
  }

  .subDiv div svg {
    font-size: 20px;
    width: 19px;
  }
  .nav span {
    font-size: 15px;
  }
  .btn span:hover {
    font-size: 15px;
  }

  .fbInsta {
    top: 0px;
    right: 20px;
    height: 30px;
    overflow: hidden;
  }
  .likeAndBuy {
    width: 100px;
    margin-right: 10px;
  }
  #logInRegister {
    width: 150px;
  }
  .subDiv {
    width: 150px;
    justify-content: right;
    margin-right: -15px;
  }

  .likeAndBuy {
    flex-direction: column;
  }
  .likeAndBuy button {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 915px) {
  .searchBar svg {
    display: none;
  }
  .searchBar input {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1340px) {
  .dropDown {
    min-width: 350px;
  }
  .nameCategory p {
    font-size: 15px;
  }
  .dropDown img {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1630px) {
  .nameCategory h4 {
    font-size: 20px !important;
  }
  .nameCategory h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1105px) {
  .directions a div {
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .directions a {
    width: 17.5%;
    background-color: white;
  }
  .directions {
    height: 60px;
  }

  .nav img {
    width: 400px;
  }
  .likeAndBuy {
    flex-direction: column;
  }

  .subDiv {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1105px) and (max-width: 1520px) {
  .directions a div {
    white-space: nowrap;
    font-size: 22px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .directions a {
    width: 17.5%;
  }
}
