.img {
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.review {
  width: 50%;
  max-width: 520px;
  text-align: left;
  border: 1px solid blanchedalmond;
  padding: 40px 50px;
  border-radius: 25px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-right: 120px;
  height: 460px;
  word-wrap: break-word;
}

.customer {
  display: flex;
  width: 70%;
  align-items: center;
  margin-bottom: 15px;
}

.product svg {
  height: 25px;
  width: 22px;
}

.rating {
  width: 150px;
}

.text {
  font-size: 20px;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 760px) {
  .text {
    font-size: 15px;
  }

  .review {
    height: 550px;
    margin-top: 20px;
  }
}
