.img {
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.review {
  width: 50%;
  max-width: 520px;
  text-align: left;
  border: 1px solid blanchedalmond;
  padding: 40px 50px;
  border-radius: 25px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  margin-right: 120px;
  height: 460px;
  word-wrap: break-word;
  position: relative;
}

.customer {
  display: flex;
  width: 70%;
  align-items: center;
  margin-bottom: 15px;
}

.product svg {
  height: 25px;
  width: 22px;
}

.rating {
  width: 150px;
}

.text {
  font-size: 17.5px;
  text-overflow: ellipsis;
}

.delete {
  position: absolute;
  top: 10px;
  right: 15px;
  overflow: visible;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(139, 16, 16);
  border: none;
}
@media only screen and (max-width: 760px) {
  .text {
    font-size: 15px;
  }

  .review {
    height: 550px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1520px) {
  .review {
    max-width: 90%;
    width: 80%;
    margin-top: 20px;
    height: 350px;
  }
}
