.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "neueHass", Arial, Helvetica, Verdana, serif;
  color: white;
}

.wraper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container img {
  height: 500px;
  border: 1px solid #333;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.container h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.text {
  max-width: 55%;
}

.prices {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 50px;
}

.container p {
  font-size: 22.5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container ul {
  list-style-type: none;
  padding-left: 20px;
  border-bottom: 1px solid #333;
}

.container ul li {
  margin-bottom: 15px;
  font-size: 20px;
  font-style: italic;
}
.container ul li svg {
  margin-right: 5px;
}

.addToCard {
  width: 250px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(44, 95, 189);
  margin-bottom: 50px;
  margin-left: 25px;
}
.addToCard svg,
.removeFromCart svg {
  fill: white;
  font-size: 20px;
  margin-left: 10px;
  background-color: inherit;
}

.removeFromCart {
  width: 250px;
  background-color: darkred;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-left: 25px;
}
@media only screen and (max-width: 760px) {
  .container img {
    height: 300px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .wraper {
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
  }

  .text {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }

  .prices {
    width: 90%;
    text-align: center;
  }
  .text h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .text p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1520px) {
  .wraper {
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .text h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 1521px) and (max-width: 1720px) {
  .wraper {
    width: 90%;
  }
}
